body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: "Inter", system-ui;
}

#container {
  background: #f4f4f4;
  width: 550px;
  height: 729px;
  margin: 150px auto 0;
}

#upper {
  display: flex;
  flex-direction: column;
  background: #6943ff;
  height: 285px;
}

#upper #night-light {
  width: 35px;
  height: 35px;
  margin-top: 8px;
  margin-left: 8px;
}

#upper h1 {
  color: white;
  font-size: 28px;
  font-weight: 800;
  margin: 0 auto 20px;
}

#upper input {
  background: #6943ff;
  width: 117px;
  height: 83px;
  margin: 0 auto;
  border-radius: 5%;
  border: 2px solid #b295ff;
  text-align: center;
  font-size: 58px;
  font-weight: 800;
  line-height: 24px;
  color: white;
}

#upper button {
  font-size: 16px;
  color: #3d3d3d;
  width: 117px;
  height: 42px;
  margin: 25px auto 25px;
  border-radius: 5px;
  border: none;
}

.lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #353535;
  padding-bottom: 20px;
}

.lower .LVM {
  justify-content: center;
  text-align: center;
  height: 108px;
  width: 500px;
  background-color: white;
  margin-bottom: 20px;
  line-height: 20px;
}

.lower h2 {
  color: #5a537b;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
}

.lower #length {
  margin-top: 40px;
}

.lower p {
  color: #353535;
}

#lower {
  background: #1f2937;
}

#lower .LVM {
  background: #273549;
}

#lower h2 {
  color: #ccc1ff;
}

#lower p {
  color: white;
}
